<!-- <div class="back-layer">
    <div class="section">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">Close</span>
        <div #container class="container" *ngIf="employee">
          <span>Nom: {{ employee.name }}</span>
          <span>Prénom: {{ employee.firstName }}</span>
          <span>CIN: {{ employee.cin }}</span>
        </div>
      </div>

    </div>
</div> -->

<div class ="back-layer">

  <div class="section">
      <div  #container class="container">
          <div class="title">
              <!-- <span class="icon-close" (click)="closeModal()">Close</span> -->
              <span class="subtitle"> popup </span>
          </div>
          <div >
          <p>Nom: {{ employeer.name }}</p>
          <p>Prénom: {{ employeer.firstName }}</p>
          <p>CIN: {{ employeer.cin }}</p>
          </div>
      </div>
  </div>

</div>