@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 22px 8px;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.top-bar a:hover {
  text-decoration: underline;
}
